<?xml version="1.0" ?>
<model>
  <name>rom_docking_station</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>HtetWaiYan</name>
    <email>htetwaiyan.zyme@gmail.com</email>
  </author>
  <description>
    A description of your model with custom texture.
  </description>
</model>